<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="actor1" name="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Sahrukh"></constructor-arg>
        <constructor-arg index="1" value="male"></constructor-arg>
        <constructor-arg index="2" value="48"></constructor-arg>
    </bean>

    <bean id="actor2" name="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Madhuri"></constructor-arg>
        <constructor-arg index="1" value="female"></constructor-arg>
        <constructor-arg index="2" value="45"></constructor-arg>
    </bean>


    <bean name="movie1" class="com.stackroute.domain.Movie" autowire="constructor">
    </bean>
</beans>